body{
    margin: 0px;
}

.nav{
    background-color: orangered;
    height: 120px;
    width: 100%;
    display: flex;
    color: white;
    margin-bottom: 30px;
    flex-direction: column;
}
.nav-top{
    padding: 0px 10%;
    display: flex;
    height: 30px;
    justify-content: space-between;
}
.options{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nfront{
    width: 280px;
}
.nback{
    width: 350px;
    justify-content: space-between;
    
}
.nback div{
    padding: 5px 10px;
}
.nav-bot{
    padding: 20px 10%;
}
.container{
    display: flex;
    justify-content: space-between;
}
.searchbar{
    display: flex;
    flex-direction: row;
}
.searchbar-input{
    
}
.mid-bar{
    width: 80%;
    
}
